/* Welcome to Retícula.
 *
 */

@import "compass/reset";
@import "reticula";

.banner{
	@include fixed-row();
	border:1px solid gray;

	> header{
		@include fixed-column(4);
		background-color:red;

		height:6em;
	}

	> nav {
		@include fixed-column(8);
		background-color:green;

		height:6em;
	}
}

/*
 * Rows container
 */ 
.fixed_columns{
	@include rows_container();
}



/*
 * Fixed Row styles
 */ 
.fixed-row{
	@include fixed-row();

	margin-bottom:.5em;

	background-color:#999;

	@for $i from 1 through $columns-num {
		.col#{$i} {
			@include fixed-column($i);

			height:2em;

			background-color:#CCC;

			@include clearfix;

			text-align:center;
		}
	}
}

/*
 * Fluid Row Styles
 */ 
.fluid-row{
	@include fluid-row();

	// ! Using padding can break the layout in < IE8
	// padding:.5em;

	margin-bottom:.5em;

	background-color:#999;

	@for $i from 1 through $columns-num {
		.col#{$i} {
			@include fluid-column($i);

			height:2em;

			background-color:#CCC;

			@include clearfix;

			text-align:center;
		}
	}
}

.grid-layout{
	//Padding using global variables
	padding-left:$fixed-gutter#{$fixed-units};
	padding-top:$fixed-gutter#{$fixed-units};

	background-color:#CCC;

	margin-bottom:2em;

	> div{
		background-color:#999;
		text-align:center;

		padding-top:.5em;
		padding-bottom:.5em;
	}
}

.fx-grid2{ @include fixed-grid(2); @extend .grid-layout; }
.fx-grid3{ @include fixed-grid(3); @extend .grid-layout; }
.fx-grid4{ @include fixed-grid(4); @extend .grid-layout; }
.fx-grid6{ @include fixed-grid(6); @extend .grid-layout; }

.fl-grid2{ @include fluid-grid(2); @extend .grid-layout; }
.fl-grid3{ @include fluid-grid(3); @extend .grid-layout; }
.fl-grid4{ @include fluid-grid(4); @extend .grid-layout; }
.fl-grid6{ @include fluid-grid(6); @extend .grid-layout; }